{:itonami.blueprint/id "cloud-itonami-1102"
 :itonami.blueprint/name "Wine Manufacturing Coordination"
 :itonami.blueprint/isic-rev5 "1102"
 :itonami.blueprint/domain :food/wine-manufacturing
 :itonami.blueprint/license "AGPL-3.0-or-later"
 :itonami.blueprint/social-impact [:food-security :food-safety :fair-labor]
 :itonami.blueprint/governor :wineops-governor
 :itonami.blueprint/robotics true
 :itonami.blueprint/required-technologies [:robotics :identity :forms :dmn :bpmn :audit-ledger :cae]
 :itonami.blueprint/optional-technologies [:optimization :telemetry]
 :itonami.blueprint/status :public-oss
 :itonami.blueprint/maturity :blueprint}
