{:kotoba.app/id "cloud.itonami.isic-1102", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreifvaclg2lxidvcewembprdyjvia7f5y5oipunj5h245qjbtsg7uie", :kotoba.app/embed-url "ipfs://bafkreifvaclg2lxidvcewembprdyjvia7f5y5oipunj5h245qjbtsg7uie", :published {:archive "https://kotobase.net/ipfs/bafkreifvaclg2lxidvcewembprdyjvia7f5y5oipunj5h245qjbtsg7uie", :size 72771, :put-status 201, :get-status 200, :at "2026-08-15T13:52:10.220Z"}}
